.services-section {
  background-image: url("../../assets/images/background2.jpg");
  height: 100vh;

}


.hidden-list {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease; /* Ajoutez une transition en douceur */
}
.visible-list {
  transition: max-height 2s ease; /* Ajoutez une transition en douceur */

  max-height: 1000px; /* Réglez cette valeur en fonction de la hauteur maximale de votre liste */
}
.services-section ul {
  list-style: disc inside;
}

.doc-category {
  margin: 1vh;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 3%;
  /* height: inherit; */
  color: #0a0909;
  padding:4vw;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: transform 0.5s ease-in-out;
}
  .doc-category:hover{
    background-color:#87767624;

    cursor :pointer;
    transform: scale(1.1);
    cursor: pointer;
  }

.doc-title {
  text-align: left;

  font-weight: normal;
}
.services-section a {
  color: #007bff; /* Lien bleu */
  text-decoration: none;
  transition: color 0.3s ease; /* Transition de couleur au survol */
}

.services-section a:hover {
  color: #0056b3; /* Nouvelle couleur au survol */
}

.services-desc {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
