.spf-doc-section {
  display: flex;

  align-items: center;
  background-image: url("../../assets/images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  background-position: center center;
  justify-content: center;
}
.spf-doc-figures {
  flex-direction: column !important;
}
.info-pic-1 {
  padding-bottom: 5%;
}
.spf-pic {
  width: 55%;
}
.faXmark {
  width: 2.8rem;
  position: absolute;
  height: 2.8rem;
  right: 50%;
  top: 3vw;
}
@media screen and (min-width: 1200px) {
  .spf-doc-figures {
    align-items: center;
  }
}
