.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#d9d9d9;
  align-items: center;
  font-weight :bold;
  width : 100%;
  padding : 3vw 3vw;
  
}

.top-mobile-header{    display: flex;
  justify-content: space-evenly;}
.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;}
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.navbar-logo{
  background-image :  url('../../assets/images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-position: center center;
}
.navbar-logo:hover{
  cursor : pointer ; 
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 20px;
  transition: transform 0.5s ease-in-out;
}
.navbar li:hover {
  color: white;
  transform: scale(1.5);
  cursor: pointer;
}
.menu-toggle {
  display: none;
}
.burger-menu{
  transition: transform 0.5s ease-in-out;
  font-size: xxx-large;

}

.burger-menu:hover {
  color: #333;
  transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 1200px) {
  .header{
    flex-direction: column;
  }
.top-mobile-header{
  justify-content: space-between;

}
  .menu {
    display: none;
    transition: transform 0.5s;
    transition: all .3s ease;

    transform: translateY(-100%) !important;/* Commencez en dehors de l'écran */
/*     transition: transform 5s ease-in-out, opacity 5s; 
 */  }

  .menu-toggle {
    display: block;
  }

  .menu.show {
    transform: translateY(0%) !important;
    transition: transform 0.5s;
    /* padding-top: 15%; */
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    height: 85vh;
    align-items: center;
    justify-content: space-around;

  }
  .menu.show > * {
    margin-top : 50px;
  }
  .menu.show .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu.show .select-container {
   }
  .top-mobile-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
