footer{

    border-top: 1px solid white;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color:  #d9d9d9;
    width: 100vw;

  
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links > *{
    padding :0 1rem;
}
.faLinkedin{
    transition: transform 0.5s ease-in-out;

}
.faLinkedin:hover{
    color: #333;
  transform: scale(1.1);
    cursor: pointer;
}
.spfIcon{
    width: '2rem'; height: '2rem';
    background-image :  url('./spf.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;

}
.spfIcon:hover{
    transform: scale(1.1);
    cursor: pointer;

}