/* custom-select.css */

/* Style du conteneur */
.select-container {
  position: relative;
  display: inline-block;

}

/* Style du bouton principal */
.select-button {
  background-color: DodgerBlue;
  color: white;
  border: none;
  border-radius: 10px ;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.select-button {
  background-color: DodgerBlue;
  color: white;
  border: none;
  border-radius: 10px ;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.select-button.border {
 border-radius : 10px 10px 0 0 ;
}
/* Style des options */
.select-options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  /* Ajout de transition pour une ouverture/fermeture en douceur des options */
  transition: all 0.3s ease-in-out;
}

/* Style des options au survol */
.select-options button:hover {
  background-color: #f2f2f2;
}

/* Afficher les options lorsque le bouton est cliqué */
.select-container.open .select-options {
display: flex;
flex-direction: column;
}
