header {
  display: flex;
  justify-content: center;
  border-width: 1px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#d9d9d9;
  align-items: center;
  font-weight :bold;
}
.menu {
  display: flex;

  width: 100%;
  justify-content: space-around;
  align-items: center;}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.navbar-logo{
  background-image :  url('../images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  background-position: center center;
}
.navbar-logo:hover{
  cursor : pointer ; 
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  font-size: 18px;
  margin-right: 20px;
  
  transition: transform 0.5s ease-in-out;
}
.navbar li:hover {
  color: #333;
  transform: scale(1.1);
  cursor: pointer;
}
.menu-toggle {
  display: none;
}
.burger-menu{
  transition: transform 0.5s ease-in-out;
  font-size: xxx-large;

}

.burger-menu:hover {
  color: #333;
  transform: scale(1.1);
    cursor: pointer;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: x-large;
  }

  .menu.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: 0;
    background-color: white;
    z-index: 10;
    align-items: center;
    height: 35vh;
    justify-content: space-between;
    transition: transform 2s ease-in-out;
  }
  .menu.show .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu.show .select-container {
    margin-right: 3vw;
  }
  .top-mobile-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
