.spf-doc-section {
    display: flex;

    align-items: center;
    background-image: url("../images/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-position: center center;
  justify-content :center;
  padding: 5% 0;

  }
.spf-doc-figures{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-pic-1{
  padding-bottom : 5%
}