/* LanguageSelector.css */
.select-container {
  position: relative;
  display: inline-block;
  width:20%;

}
.current-language-div > * {
  transition: transform 0.5s ease-in-out;
/*   font-size: 1.5rem;
 */
}
.current-language-div:hover > *{
  cursor :pointer;
  color: #333;
  transform: scale(1.1);
}



  .scroll-language{
    position: absolute;
    /* border: 1px solid white; */
    width: 100%;
    padding: 15%;
    margin-top: 3%;
    right: 3vw;

  }

  .language-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 85px;
  }
  .language-div >*{
    transition: transform 0.5s ease-in-out;

  }
  .language-div >*:hover{
    cursor :pointer;
    color: #333;
    transform: scale(1.1);
  }
 .flag-icon{
  width:30%;
  padding :2%
 }
 @media (max-width: 1200px) {
select-container {
  width : auto;
}
.language-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width :100%
}
.scroll-language{
  right : 0;
}
  }
  